<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start"><ion-icon name="arrow-back-outline" aria-label="back" slot="start" routerLink="/"></ion-icon></ion-buttons>
      <ion-title>Recomendaciones</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Recomendaciones</ion-title>
      </ion-toolbar>
    </ion-header>

  </ion-content>  

</ion-app>