<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      La Plantita
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="ion-padding">
  
  <div id="circle-container">
    <div id="circle"><label id="temperatura">32°C</label></div>
  </div>
  
  <ion-card>
    <ion-card-header><ion-card-title>Humedad de la tierra</ion-card-title></ion-card-header>
    <ion-card-content>
      <ion-progress-bar value="0.2"></ion-progress-bar>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header><ion-card-title>Humedad ambiental</ion-card-title></ion-card-header>
    <ion-card-content>
      <ion-progress-bar value="0.2"></ion-progress-bar>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header><ion-card-title>Cantidad de luz solar</ion-card-title></ion-card-header>
    <ion-card-content>
      <ion-progress-bar value="0.2"></ion-progress-bar>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header><ion-card-title>Nivel de pH</ion-card-title></ion-card-header>
    <ion-card-content>
      <ion-progress-bar value="0.2"></ion-progress-bar>
    </ion-card-content>
  </ion-card>

  
</ion-content>
